.main__buscket_container {
	width: 1080px;
	height: auto;
	margin: 0 auto;
}

.buscket__item {
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	border-top: 1px solid #EEEEEE;
}

.buscket__item-name img {
	width: 90px;
	height: 90px;
	margin-right: 20px;
}

.buscket__item-name {
	display: flex;
	flex-direction: row;
}

.item-name-and-button {
	display: flex;
	flex-direction: column;
	width: 310px;
	justify-content: center;

}

.item-name-and-button button {
	width: 107px;
	height: 24px;
	background: #EEEEEE;
	color: #666666;
	margin-top: 10px;
	cursor: pointer;

}

.item-name-and-button a {
	font-size: 16px;
	color: #333333;
}


.buscket__item-quantity {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-right: 150px;
}


.buscket__item-quantity span {
	margin-bottom: 5px;
	font-size: 14px;
	color: #666666;
}

.buscket__item-quantity p {
	margin-top: 15px;
	font-weight: 500;
	font-size: 22px;
	color: #333333;
}

.buscket__item-quantity p > span {
	font-size: 16px;
	color: #666666;
}

.buscket__item_other-info {
	display: flex;
	flex-direction: row;
}


.other-info-weight {
	margin-right: 63px;
}

.other-info-weight p,
.total-weight p{
	font-size: 16px;
	color: #333333;
}

.other-info-price {
	margin-right: 35px;
}

.other-info-price p,
.total-cost p,
.about-cost p{
	font-weight: 500;
	font-size: 22px;
	color: #333333;
}

.other-info-weight span,
.other-info-price span,
.total-weight span,
.total-cost span{
	font-weight: bold;
	font-size: 14px;
	color: #666666;
}



.delete {
	cursor: pointer;
	text-decoration: underline;
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 14px;
	color: #666666;
}


.total-block {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 715px;
	height: 93px;
	background: #eeeeee;
	margin: 0 auto;
	margin-top: 22px;
}

.total-weight,
.total-cost {
	display: flex;
	flex-direction: column;
}

.total-weight span,
.total-cost span {
	margin: 20px 0 10px 0;
}

.about-cost input {
	display:block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	bottom: 1px;
	border: 1px solid #000;
	border-radius: 3px;
}

.busket_form{
	width: 906px;
	height: 186px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.busket_form p{
	margin-left: 625px;
	color: #666666;
}

.busket_form p a{
	color: #333333;
}

.busket_form span{
	margin: 5px 0 30px 0;
	font-size: 16px;
}

.busket_form form{
	display: inline;
}

.busket_form input[type='text']{
	margin-right: 34px;
}

.busket_form input[type='phone']{
	margin-right: 21px;
}
