@media screen and (max-width: 1600px) {
	.main-content {
		justify-content: space-around;
	}
}


@media screen and (max-width: 1200px) {


	.product_icon {

		margin-left: 15px;

	}

}


@media screen and (min-width:992px) {

	#phoneMobile,
	#mailMobile,
	#favouritesMobile,
	#busketMobile {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	/*	!!!!!!!!!!!!ДЛЯ МОБИЛЬНЫХ ВЕРСИЙ!!!!!!!!!!!!!!!*/
	/*иконки телефона и почты в блоке email*/
	/*переход в корзину и избранное в блоке phones*/

	.email,
	.phones {
		height: 26px;
	}


	.email img,
	.phones img {
		display: none;
		margin: 0;
	}

	.mobilePhoneMail span,
	.mobileFavouritesBusket span {
		display: none;

	}

	.mobilePhoneMail,
	.mobileFavouritesBusket {
		width: 75px;
		display: flex;
		flex-direction: row;

	}

	.mobilePhoneMail {
		margin-left: 40px;
	}

	.mobileFavouritesBusket {
		margin-right: 40px;
	}

	#phoneMobile,
	#mailMobile,
	#favouritesMobile,
	#busketMobile {
		display: block;
	}

	#phoneMobile {
		width: 26px;
		height: 26px;
		background: url(../img/PhoneYellowMobile.png) no-repeat center;
	}

	#phoneMobile:active {
		background: url(../img/PhoneActiveWhiteMobile.png) no-repeat center;
	}


	#mailMobile {
		width: 26px;
		height: 26px;
		background: url(../img/MailYellowMobile.png)no-repeat center;
	}

	#mailMobile:active {

		background: url(../img/MailActiveWhiteMobile.png)no-repeat center;
	}

	#favouritesMobile {
		width: 26px;
		height: 26px;
		background: url(../img/FavouriteYellowMobile.png)no-repeat center;
	}

	#favouritesMobile:active {

		background: url(../img/FavouriteActiveWhiteMobile.png)no-repeat center;
	}


	#busketMobile {
		width: 26px;
		height: 26px;
		background: url(../img/BucketYellowMobile.png)no-repeat center;
	}

	#busketMobile:active {
		background: url(../img/BusketActiveWhiteMobile.png)no-repeat center;
	}

	#phoneMobile,
	#favouritesMobile {
		margin-right: 20px;
	}

	#feedback {
		display: none;
	}

	.phones a:not(:last-child) {
		margin-right: 0;
	}

	.searchAndButtons {
		display: none;
	}

	.mainHeader {
		justify-content: center;
	}

	h2 {

		margin-top: 30px;
		font-size: 52px;

	}

	/*Корзина*/

	.main__buscket_container {
		width: 980px;
	}


	.buscket__item-quantity {
		margin-right: 80px;
	}
}


@media screen and (max-width: 768px) {

	.product_icon {
		margin-left: 10px;
	}

	.main-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 0 55px 0 55px;

	}

	.offer__filter {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 0 auto;
	}

	.goods {

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		max-width: 1300px;

	}

	.sort {
		margin-top: 40px;
	}

	.total-block{
		width: 95%;
	}
	
	/*Корзина*/

	.main__buscket_container {
		width: 100%;

	}

	.main__buscket_container {
		margin-bottom: 40px;
	}

	.buscket__item-name img {
		width: 102px;
		height: 102px;
	}

	.buscket__item {
		flex-direction: column;
		height: 300px;
	}

	.buscket__item-quantity {
		margin: 0;
	}

	.buscket__item-quantity {
		margin: 20px 0 30px
	}


	.busket_form {
		width: 80%;
		height: auto;
	}


	.busket_form form {
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	.busket_form input[type="phone"],
	.busket_form input[type="text"] {
		margin: 0;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.busket_form p {
		margin: 0;
		margin: 0 auto;
	}

}

@media screen and (max-width: 576px) {

	h2 {
		font-size: 46px;
	}

	.total-block{
		width: 95%;
		height: 194px;
		flex-direction: column;
	}
	.total-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 85%;
		margin: 0 auto;
	}
	
	.about-cost{
		width: 90%;
		margin: 0 auto;
	}
	
	.about-cost form{
		margin: 0 auto;
	}
	
	/*Корзина*/

	.main__buscket_container {
		width: 100%;

	}

}


@media screen and(max-width: 480px) {
	
	.busket_form span{
		margin: 0 auto;
	}
	
	
	
	
}


@media (min-width: 300px) and (max-width:440px) {

	h2 {
		font-size: 42px;
	}

	.offer__filter{
		display: none;
	}

	.mobilePhoneMail {
		margin-left: 15px;
	}

	.mobileFavouritesBusket {
		margin-right: 15px;
	}

	.product_icon {
		margin: 0;
		margin-top: 20px;
		width: 140px;
		height: 355px;
		display: flex;
		flex-direction: column;
	}

	.product_icon:nth-child(even) {
		margin-left: 10px;
	}

	.product_icon img {
		width: 120px;
		height: 120px;
		padding: 0;
		margin: 10px;
	}


	.main-container {

		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 0;

	}

	.goods {

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
	}

/* стили для кнопки фильтра*/	
	.offer__filter-btn{
		width: 290px;
		height: 40px;
		background: #EEEEEE;
		align-items: center;
	    margin: auto;
	    display: block;
	}
	.offer__filter-btnFlex{
	    align-items: center;
	    margin-top: 11px;
	}

	.img__btn{
		margin-left: 69px;
	}
	.offer__filter-btnText{
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: #333333;
		margin-left: 10px;

	}

	.offer__filter-btn-ff{
		width: 320px;
		height: 40px;
		background: #333333;
		display: none;
		
	}

	.offer__filter-btn-ffBLock{
		margin-top: 8px;
	}

	.offer__filter-btn-ffText{
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: #EEEEEE;
		text-align: center;
	}

	.offer__filter-btn-ffBLock{
		align-items: center;
	}

	.arrowLeft__btn{
	 margin-left: 10px;
	 margin-right: 96px;
	}

	.OK__btn{
		margin-left: 95px;
	}

	.header{
		display: block;
	}

	#heaed__title{
		display: block;
	}

/*Корзина*/
	
	.buscket__item-name img{
		margin: 0;
		margin-right: 8px;
	}
	
	.item-name-and-button{
		width: 180px;
	}
}