@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	background: #ffffff;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}


.filter a {
	text-decoration: none;
	color: #333333;
	margin-right: 10px;
}

/*общие стили для элементов*/

p {
	font-family: 'Roboto';
	font-size: 14px;
}

h2 {
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 56px;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 67px;
}

span {
	font-family: 'Roboto';

}


.d-flex {
	display: flex;
}

/****************/


.wrapper {
	width: 1440px;
	background: #ffffff;
}

/*стили header*/

/*top header*/
.contacts {
	width: 100%;
	background: #333333;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.email {
	margin-left: 70px;
}

.phones {
	margin-right: 70px;
}


header span {
	font-family: 'Roboto';
	font-size: 18px;
	color: #ffffff;
	margin-left: 10px;

}

/*******************/


/*стили mainHeader*/

main{
	margin-bottom: 60px;
}

.mainHeader {
	height: 100px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	margin: 0 70px 0 70px;
}

.searchAndButtons {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
}


/*Поиск*/

.search form {
	position: relative;
	width: 291px;
	height: 46px;
	margin: 0 auto;
}

.search input,
button {
	border: none;
	outline: none;
	border-radius: 3px;
}

.search input {
	width: 100%;
	height: 46px;
	background: #ffffff;
	border: 1px solid #cccccc;
	padding-left: 15px;
}

.search button {
	width: 56px;
	height: 36px;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 4px;
	background: #FFDB4D;
	background-image: url(../img/search_button.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

/*
.search button:before {
	content: "\f002";
	font-family: FontAwesome;
	color: #666666;
	font-size: 20px;
	font-weight: bold;
}
*/

/***************/


/*иконки избранного, корзины, кнопка обратной связи*/
.favourites {
	background: #ffffff;
	margin: 0 20px 0 40px;
	cursor: pointer;
	width: 60px;
	height: 60px;
	border: 2px solid #FFDB4D;
	border-radius: 50%;
	background-image: url(../img/HeartActive24px.png);
	background-repeat: no-repeat;
	background-position: 50% 55%;

}


.favourites:active {
	background-image: url(../img/HeartInactive24px.png);
	background-repeat: no-repeat;
	background-position: 50% 55%;

}

.busket {
	background: #ffffff;
	margin-right: 10px;
	cursor: pointer;
	width: 60px;
	height: 60px;
	border: 2px solid #FFDB4D;
	border-radius: 50%;
	background-image: url(../img/bucketInactive24px.png);
	background-repeat: no-repeat;
	background-position: 50% 55%;

}

.busket:active {
	background-image: url(../img/bucketActive24px.png);
	background-repeat: no-repeat;
	background-position: 50% 55%;

}


.searchAndButtons span {
	color: #333333;
	margin: 0;
}

.feedback {
	width: 192px;
	height: 44px;
	background: #ffffff;
	margin-left: 40px;
	cursor: pointer;
	border: 2px solid #FFDB4D;
	border-radius: 3px;
	background-image: url(../img/telephone14px.png);
	background-repeat: no-repeat;
	background-position: 10% 50%;
	
}

.feedback span{
	font-size: 16px;
	margin-left: 30px;
}

/***************/

/*стили для фильтра*/

.cd-main-content {
	margin-top: 204px;
}

.cd-filter {
	margin-top: 37px;
}

.offer__filter-title {
	color: #666666;
	font-size: 14px;
}

.form-control {
	width: 50px;
	height: calc(11px + .75rem + 2px);
	border-radius: 4px;
	font-size: 16px;
	margin-right: 9px;
}

.mr {
	margin-right: 10px;
}

.offer__form-label {
	color: #333333;
	font-size: 16px;
}

input[type="text"]:focus {
	outline: 1px solid #FFDB4D;
}

/*input for checkbox*/
input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	position: relative;
	padding-left: 35px;

	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

input[type=checkbox] + label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border: 1px solid #000;
	border-radius: 3px;

}

input[type=checkbox]:checked + label:before {
	content: "";

	font-size: 15px;

	text-align: center;
	line-height: 15px;
	background: url("../img/Checkbox_Active.svg");
	border: none;

}


main {
	display: flex;
	flex-direction: column;

}

.main-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 0 70px 0 70px;
}

.main-container aside {
	min-width: 200px;
	height: 674px;
	
	margin-top: 51px;
	/*бэк для наглядности, убрать*/
}


.main-content {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	text-align: left;

}


.sort{
	display: flex;
	flex-direction: row;
	margin-left: 20px;
}

.sort span {
	color: #999999;
	margin-right: 24px;
	font-weight: bold;
}

.sort .main-filter-span {
	color: #666666;
	margin-right: 34px;

}

.main-filter-span i {
	color: #333333;
}




.goods {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: row;
/*	max-width: 1300px;*/
}

.product_icon {
	width: 200px;
	height: 379px;
	border: 1px solid #e5e5e5;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 0 0 3px rgba(51,51,51,0.5)
}


.product_icon p {
	font-size: 16px;
	margin: 0 10px 0 10px;
}

.product_icon img {
	padding: 10px;
}


/*КЛАССЫ ДЛЯ ИКОНОК КОРЗИНЫ И ИЗБРАННОГО*/

.bucket_icon {
	padding: 0 !important;
	margin-left: 50px;
	display: none;

}


.favourites_icon {
	display: none;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*корзина и избранное в товарах*/
.product_icon_price_icons_block{
	display: flex;
	flex-direction: row;
}


.product_icon_price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 10px;


}

.iconBusket{
	height: 16px;
	width: 16px;
	background-image: url(../img/bucketInactive16px.png);
	background-repeat: no-repeat;
	background-position: 85% 50%;
}


.iconHeart{
	height: 16px;
	width: 16px;
	background-image: url(../img/HeartInactive16px.png);
	background-repeat: no-repeat;
	background-position: 85% 50%;
	margin-left: 10px;
}



.iconBusket:active{
	background-image: url(../img/bucketActive16px.png);

}

.iconHeart:active{
	background-image: url(../img/HeartActive16px.png);

}

/*************************************************/


hr {
	margin: 0 10px 10px 10px;
	color: #eeeeee;
}

.art {
	text-align: center;
}



footer {
	width: 100%;
	height: 60px;
	background: #eeeeee;
	display: flex;
	align-items: center;
	justify-content: center;
}
